<article class="card">
  <div class="card-body">
    <h3>Sort</h3>
    <label class="sidebar-label" for="sort-by">Sort results by</label>
    <select name="sort-by" id="sort-by">
      <option value="title">Title (A-Z)</option>
      <option value="rating">Rating</option>
      <option value="release-date">Release date</option>
    </select>
  </div>
</article>

<article class="card">
  <div class="card-body">
    <h3>Filter</h3>
    <div class="sidebar-label">By genre</div>
    <ul class="multi-select">
      <li>Action</li>
      <li>Adventure</li>
      <li>Animation</li>
      <li>Comedy</li>
      <li>Crime</li>
      <li>Documentary</li>
      <li>Drama</li>
      <li>Family</li>
      <li>Fantasy</li>
      <li>History</li>
      <li>Horror</li>
      <li>Music</li>
      <li>Mystery</li>
      <li>Romance</li>
      <li>Science Fiction</li>
      <li>TV Movie</li>
      <li>Thriller</li>
      <li>War</li>
      <li>Western</li>
    </ul>
    <div class="sidebar-label">By min. rating</div>
    <input type="radio" name="filter-rating" id="rating-all" checked>&nbsp;<label for="rating-all">All</label>
    <input type="radio" name="filter-rating" id="rating-60">&nbsp;<label for="rating-60">60%</label>
    <input type="radio" name="filter-rating" id="rating-80">&nbsp;<label for="rating-80">80%</label>

    <div class="sidebar-label">By max. runtime</div>
    <input type="radio" name="filter-runtime" id="runtime-all" checked>&nbsp;<label for="rating-all">All</label>
    <input type="radio" name="filter-runtime" id="runtime-180">&nbsp;<label for="rating-180">3:00</label>
    <input type="radio" name="filter-runtime" id="runtime-150">&nbsp;<label for="rating-150">2:30</label>
    <input type="radio" name="filter-runtime" id="runtime-120">&nbsp;<label for="rating-120">2:00</label>
    <input type="radio" name="filter-runtime" id="runtime-90">&nbsp;<label for="rating-90">1:30</label>
  </div>
</article>